StateSpace Therm {
	Seq: Nom | Verb | Pred | Part | Connect | Aside | PartObj
			| Insured | Insurer | InsureZone | Reviver;
	Doer: Unset | Ghosts | Topoi;
	Action: Unset | Stealing | Earning;
	ProgPart: Unset | Driving | Smooching;
}
StartOn Therm {
	Seq: Nom;
	Doer: Unset;
	Action: Unset;
	ProgPart: Unset;
}

TransitionOn Therm {
	current {
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
	next {
		Doer: Ghosts;
		Action: Stealing;
		ProgPart: Driving;
	}
}

TransitionOn Therm {
	current {
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
	next {
		Doer: Ghosts;
		Action: Earning;
		ProgPart: Driving;
	}
}

TransitionOn Therm {
	current {
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
	next {
		Doer: Ghosts;
		Action: Earning;
		ProgPart: Smooching;
	}
}

TransitionOn Therm {
	current {
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
	next {
		Doer: Topoi;
		Action: Stealing;
		ProgPart: Driving;
	}
}

TransitionOn Therm {
	current {
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
	next {
		Doer: Topoi;
		Action: Earning;
		ProgPart: Driving;
	}
}

TransitionOn Therm {
	current {
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
	next {
		Doer: Topoi;
		Action: Earning;
		ProgPart: Smooching;
	}
}

TransitionOn Therm {
	current {
		Seq: Nom;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Verb;
	}
}

TransitionOn Therm {
	current {
		Seq: Verb;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Pred;
	}
}

TransitionOn Therm {
	current {
		Seq: Pred;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Part;
	}
}

TransitionOn Therm {
	current {
		Seq: Part;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Connect;
	}
}

TransitionOn Therm {
	current {
		Seq: Connect;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Aside;
	}
}

TransitionOn Therm {
	current {
		Seq: Aside;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Reviver;
	}
}

TransitionOn Therm {
	current {
		Seq: Reviver;
	}
	next {
		Seq: Nom;
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
}

TransitionOn Therm {
	current {
		Seq: Part;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: PartObj;
	}
}

TransitionOn Therm {
	current {
		Seq: PartObj;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Insured;
	}
}

TransitionOn Therm {
	current {
		Seq: Insured;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: Insurer;
	}
}

TransitionOn Therm {
	current {
		Seq: Insurer;
		Doer: Ghosts | Topoi;
		Action: Stealing | Earning;
		ProgPart: Driving | Smooching;
	}
	next {
		Seq: InsureZone;
	}
}

TransitionOn Therm {
	current {
		Seq: InsureZone;
	}
	next {
		Seq: Nom;
		Doer: Unset;
		Action: Unset;
		ProgPart: Unset;
	}
}

ContentOn Therm {
	match {
		Seq: Nom;
		Doer: Ghosts;
	}
	content {
		"two ghosts from thermodynamism's foamy wake";
	}
}

ContentOn Therm {
	match {
		Seq: Nom;
		Doer: Ghosts;
	}
	content {
		"two ghosts of, as it were, solar generosity's burn victims";
	}
}

ContentOn Therm {
	match {
		Seq: Nom;
		Doer: Topoi;
	}
	content {
		"pair o thrown outta heat topoi";
	}
}

ContentOn Therm {
	match {
		Seq: Nom;
		Doer: Topoi;
	}
	content {
		"pair of ember diademmed topoi";
	}
}

ContentOn Therm {
	match {
		Seq: Verb;
		Action: Stealing;
	}
	content {
		"rob heat from";
	}
}

ContentOn Therm {
	match {
		Seq: Verb;
		Action: Earning;
	}
	content {
		"strip mine Bauxite using hotness bucks paid by";
	}
}

ContentOn Therm {
	match {
		Seq: Pred;
		Doer: Ghosts;
	}
	content {
		"pair o thrown outta heat topoi";
	}
}

ContentOn Therm {
	match {
		Seq: Pred;
		Doer: Topoi;
	}
	content {
		"two ghosts from thermodynamism's foamy wake";
	}
}

ContentOn Therm {
	match {
		Seq: Part;
		ProgPart: Smooching;
	}
	content {
		"smooching";
	}
}

ContentOn Therm {
	match {
		Seq: Part;
		ProgPart: Driving;
	}
	content {
		"driving";
	}
}

ContentOn Therm {
	match {
		Seq: Connect;
	}
	content {
		"when now";
	}
}

ContentOn Therm {
	match {
		Seq: Aside;
		ProgPart: Smooching;
	}
	content {
		"lips frigid, ashen cease, flake off";
	}
}

ContentOn Therm {
	match {
		Seq: Aside;
		ProgPart: Driving;
	}
	content {
		"cold, stiff car ceases, dessicates";
	}
}

ContentOn Therm {
	match {
		Seq: PartObj;
		ProgPart: Smooching;
	}
	content {
		"in real beaut of coastal property";
	}
}

ContentOn Therm {
	match {
		Seq: PartObj;
		ProgPart: Driving;
	}
	content {
		"a loony lime fendered car";
	}
}

ContentOn Therm {
	match {
		Seq: Insured;
	}
	content {
		"insured";
	}
}

ContentOn Therm {
	match {
		Seq: Insurer;
	}
	content {
		"by scribal risk understanders";
	}
}

ContentOn Therm {
	match {
		Seq: InsureZone;
	}
	content {
		"under an actuarial horizon where";
	}
}

ContentOn Therm {
	match {
		Seq: InsureZone;
	}
	content {
		"in event-smears spreadsheeted out futurewards when";
	}
}

ContentOn Therm {
	match {
		Seq: Reviver;
	}
	content {
		"to be, by war-funded thinkers, studied and revived until";
	}
}
